<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <!-- 使用ms sqlserver的工厂，以便在程序里面直接指定链接字符串（字符串里面不包含provider信息） -->
    <!-- 
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    -->
    <!-- 使用postgresql的工厂，以便在程序里面直接指定链接字符串（字符串里面不包含provider信息） -->
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql.EntityFramework">
    </defaultConnectionFactory>
    
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      
      <!-- 使用postgresql时也必须出现 -->
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
    </providers>
  </entityFramework>
  
  <system.data> 
    <DbProviderFactories> 
      <!-- 使用postgresql时也必须出现 -->
      <remove invariant="Npgsql"></remove> 
      <add name="Npgsql Data Provider"
      invariant="Npgsql"
      description=".Net Framework Data Provider for Postgresql Server"
      type="Npgsql.NpgsqlFactory, Npgsql" /> 
    </DbProviderFactories> 
  </system.data> 
    
  <connectionStrings>
    <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=testORM.EF.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model2" connectionString="data source=10.3.2.188;initial catalog=testORM;persist security info=True;user id=sa;password=#db877350;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  
    <add name="npgsql" connectionString="User ID=postgres;Password=admin;Host=10.3.2.188;Port=5432;Database=testorm;Pooling=true;" providerName="Npgsql" />
  </connectionStrings>


</configuration>