<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <connectionStrings>
    <!--
    connectionString="Data Source=10.3.2.188;port=3306;Initial Catalog=testorm;user id=sa;password=#db877350;" providerName="MySql.Data.MySqlClient"
    connectionString="User ID=postgres;Password=admin;Host=10.3.2.188;Port=5432;Database=testorm;Pooling=true;" providerName="Npgsql"
    connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=testORM.EF.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"
    connectionString="data source=127.0.0.1;initial catalog=testORM;persist security info=True;user id=sa;password=Db877350;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"
    connectionString="Data Source=.;Initial Catalog=xst_2642;Integrated Security=True;App=EntityFramework" providerName="System.Data.SqlClient"
    -->
    <add name="Database1" connectionString="Data Source=.;Initial Catalog=jg2642empty;Integrated Security=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
