<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- 
    本地测试网址：
    http://localhost:60611/api/VDiagnosis/
    
    容知公网测试网址：
    http://sgts.ronds.com:6480/api/services/app/VDiagnosis/
    
    沙钢内网测试网址：
    http://10.99.1.200:8124/api/services/app/VDiagnosis/
    
    使用本地的Nginx代理转发网址：
    nginx -c conf/nginx-api-proxy_pass-4260.conf
    nginx-api-proxy_pass-4260.conf：
    location /api {
			# asp .net core api
            proxy_pass   http://localhost:60611;
        }
    http://localhost:4260/api/VDiagnosis/
    -->
    <add key="url" value="http://localhost:60611/api/VDiagnosis/" />
  </appSettings>
</configuration>