<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- 
    本地测试网址：
    http://localhost:60611/api/VDiagnosis/
    
    测试网址：
    http://sgts.ronds.com:6480/api/services/app/VDiagnosis/
    -->
    <add key="url" value="http://localhost:60611/api/VDiagnosis"/>
  </appSettings>
</configuration>