<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestSignalR.Server</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">TestSignalR.Server</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TestSignalR.Server - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signalr.min.js" asp-append-version="false"></script>

    <script type="text/javascript">
        const connection = new signalR.HubConnectionBuilder()
        .withUrl("/messagehub")
        //.withAutomaticReconnect()
            .build();
        let signalRLabel1 = "sendSignalRMessage";

        connection.on("ReceiveMessage", (user, message) => {
            console.timeEnd(signalRLabel1);
            let msg = `js client receive: ${user}: ${message}`;
            console.log(msg);
            }
        );

        connection.onreconnecting(error => {
            console.assert(connection.state === signalR.HubConnectionState.Reconnecting);
            console.log("reconnecting...");
            console.log(error);
        });

        connection.onreconnected(connectionId => {
            console.assert(connection.state === signalR.HubConnectionState.Connected);
            console.log("reconnected.");
        });

        async function start() {
            try {
                await connection.start();
                console.assert(connection.state === signalR.HubConnectionState.Connected);
                console.log("SignalR Connected.");

                //await sendSignalRMessage();
            } catch (err) {
                console.assert(connection.state === signalR.HubConnectionState.Disconnected);
                console.log(err);
                // setTimeout(() => start(), 5000);
            }
        };
        async function sendSignalRMessage() {
            try {
                console.time(signalRLabel1);
                await connection.invoke("SendMessage", "jack", "js client message");
            } catch (err) {
                console.error(err);
            }
        }

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
